* {
    margin: 0;
    padding: 0;
   
    margin-top: 130px;
}
.obj img {
    width: 2%;
}
nav {
    top: 0;
    left: 0;
    width: 100%;
    height: 17%;
    padding: 0px;
    margin: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
}

nav img {
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: block;
    size: 20%;
    margin-left: 70px;
    margin-bottom: 30px;
}

header {
    position: relative;
}

.main {
    padding: 20px 0;
    display: flex;
    align-items: center;
    height: 500px;
}
/*menu*/

.menu-active {
    display: flex !important;
}

.menu {
    position: fixed;
    top: -5%;
    right: 0;
    width: 400px;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}

.menu ul {
    position: relative;
    list-style: none;
    margin-top: 200px;
    margin-left: 0px;
    margin-right: 0px;

}

.menu ul li {
    list-style: none;
    margin: 90px 0px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 35px;
    color: #0000b3;
    font-family: 'Righteous';
    font-weight: 100;
}

.menu ul li a:hover {
    color: #99cc00;
}

.toggle {
    background: url(../resources/menu.svg);
    position: relative;
    width: 100px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    cursor: pointer;
    margin-top: 0px;
}

.toggle.active {
    background: url(../resources/close.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}


.d1 {
    position: absolute;
    background-image: url('../resources/ns1.jpg');
    background-size: 2700px 1500px;
    height: 30vh;
    width: 15vw;
    background-position: 0 50%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    animation: dd1 10s 1, dd12 10s 1;
    animation-delay: 4s, 14s;
    animation-iteration-count: infinite;
}

.d2 {
    position: absolute;
    background-image: url('../resources/ns1.jpg');
    background-size: 2700px 1500px;

    height: 50vh;
    width: 25vw;

    background-position: -10vw 50%;
    left: 10vw;

    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd2 10s 2;
    animation-delay: 4s;
}

.d3 {
    position: absolute;
    background-image: url('../resources/ns1.jpg');
    background-size: 2700px 1500px;
    overflow: hidden;

    height: 100vh;
    width: 40vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 50%;

    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd3 10s 2;
    animation-delay: 4s;
}

.d4 {
    position: absolute;
    overflow: hidden;
    background-image: url('../resources/ns1.jpg');
    background-size: 2700px 1500px;

    height: 80vh;
    width: 35vw;
    left: 60vw;
    background-position: -70vw 50%;

    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd4 10s 2;
    animation-delay: 4s;
}
.d5 h6 {
    text-decoration: none;
    font-size: 70px;
    color: #0000b3;
    font-family: 'Righteous';
    font-weight: 100;
    margin-top: 0%;
    margin-left: 3%;
  
}
.d5 {
    margin-top: 0%;
    z-index: 1000;
      margin-left: 2%;
      top: 25%;
    position: absolute;
    background-size: 2700px 1500px;
    height: 30vh;
    width: 30vw;
  
}



.his h1 {
    text-decoration: none;
    font-size: 50px;
    color: #99cc00;
    font-family: 'Righteous';
    font-weight: 100;
    margin-top: 10%;
}


img{
  margin-top: 0%;
}
  
.his span {
    text-decoration: none;
    font-size: 35px;
    color: #0000b3;
    font-family: 'Righteous';
    font-weight: 100;
    background-color: #99cc00;
}

.his {
  display: flex;
  text-align: center;
  margin-top: 10%;
}

.his p {
    font-family: 'Josefin Sans';
    text-decoration: none;
    font-size: 35px;
    color: #0000b3;
    font-weight: 100;
    background-color: #99cc00;
    line-height: 1.5em;
    
}

.his h1 {
  text-decoration: none;
  font-size: 50px;
  color: #99cc00;
  font-family: 'Righteous';
  font-weight: 100;
  margin-top: 10%;
}

.obj h1 {
  text-decoration: none;
  font-size: 50px;
  color: #99cc33;
  font-family: 'Righteous';
  font-weight: 100;
  margin-top: 10%;
  width: 20%;
}
.obj p {
  font-family: 'Josefin Sans';
  text-decoration: none;
  font-size: 45px;
  color: #0000b3;
  font-weight: 100;
  background-color: #99cc33;
  line-height: 2em;
  width: 80%;
}


.obj {
  display: flex;
  text-align: center;
  margin-top: 5%;
}

.obj span {
  text-decoration: none;
  font-size: 35px;
  color: #0000b3;
  font-family: 'Righteous';
  font-weight: 100;
  background-color: #99cc33;
}

/*engag*/
.engag h1 {
  text-decoration: none;
  font-size: 70px;
  color: #0000b3;
  font-family: 'Righteous';
  font-weight: 100;
  margin-top: 5%;
  width: 100%;
  margin-left: 30%;
}      

.engag h1 .letter {
    display: inline-block;
    line-height: 1em;
  }

.engagp {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-left: 2%;
}

  

.qualite {
        background-image: url(../resources/qualite.jpg);
        margin: 0px 20px;
        background-size: 100% 100%;
        padding: 30px;
        width: 30%;
        border-radius: 8px;
}
.qualite p{
    color: #0000b3;
    font-size:  30px;
    font-family: 'Josefin Sans';
    background-color: transparent;
    line-height: 1.5em;
    font-weight: bold;
}
.suivi {
    background-image: url(../resources/suivii.jpg);
    background-size: 100% 100%;
    margin: 0px 20px 50px 0px;
    padding: 30px;
    width: 100%;
    border-radius: 8px;
  }
.suivi p{
    color: #0000b3;
    font-size:  30px;
    font-family: 'Josefin Sans';
    background-color: transparent;
    line-height: 1.5em;
    font-weight: bold;
}
.services {
    background-image: url(../resources/services.jpg);
    background-size: 100% 100%;
    margin: 0px 20px 50px 0px;
    padding: 30px;
    width: 100%;
    border-radius: 8px;
 
}

.services p {
      color: #0000b3;
      font-size: 30px;
      font-family: 'Josefin Sans';
      background-color: transparent;
      font-weight: bold;
      line-height: 1.5em;
  }

h3 {
    color: #0000b3;
    font-size: 60px;
    font-family: 'Josefin Sans';
    background-color: transparent;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 0;
}

.container2 h3 {
    color: #99cc00;
    font-size: 60px;
    font-family: 'Josefin Sans';
    background-color: transparent;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 0;
    margin-left: 35%;
}


.qualite h3 {
    background-color: transparent;
}


.row {
    display: flex;
  
    justify-content: space-between;
    padding: 10px 150px;
    background-color: #99cc00;
    padding-top:0 ;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #99cc00;

}

.wow .container {
    width: 100%;
    background-color: #0000b3;
}


.row .fa {
margin-top: 2px;
font-size: 70px;
color: #0000b3;
background-color: #99cc00;

}
.row .counting{
    margin-top: 100px;
    background-color: #99cc00;
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 70px;
    color: #0000b3;

}
.row h5{
    margin-top:25px ;
    background-color: #99cc00;
    font-family: 'Josefin Sans';
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 150px;
    color:#0000b3;
}
/* partenaires*/
.container2 {
    padding-top: 150px;
}
/*
.slick-slide {
    margin: 0 200px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}
*/
.customer {
    margin-top: 0 !important;
}
.slide {
    background-image: url(../resources/part1.png);
    width: 150px;
    height: 150px !important;
    margin-top: 50px;
    z-index: 99999;
}

.slide1{
    background-image: url(../resources/part1.png);
    width: 50px;
    height: 140px !important;
    margin-top: 50px;
    z-index: 99999;
   
}

.slide2 {
    background-image: url(../resources/part2.png);
    width: 50px;
    height: 140px !important;
    margin-top: 50px;
    z-index: 99999;
    
}

.slide3 {
    background-image: url(../resources/part3.png);
    width: 50px;
    height: 140px !important;
    margin-top: 50px;
    z-index: 99999;
   
}

.slide4 {
    background-image: url(../resources/part4.png);
    width: 50px;
    height: 140px !important;
    margin-top: 50px;
    z-index: 99999;
    
}

.slide5 {
    background-image: url(../resources/part5.png);
    width: 50px;
    height: 140px !important;
    margin-top: 50px;
    z-index: 99999;

}

.slide6 {
    background-image: url(../resources/part6.png);
    width: 50px;
    height: 140px !important;
    margin-top: 50px;
    z-index: 99999;
 
}

.slide7 {
    background-image: url(../resources/part7.png);
    width: 50px;
    height: 140px !important;
    margin-top: 50px;
    z-index: 99999;
 
}

.slide8 {
    background-image: url(../resources/part8.png);
    width: 50px;
    height: 140px !important;
    margin-top: 50px;
    z-index: 99999;

}

.slide9 {
    background-image: url(../resources/part9.png);
    width:50px;
    height: 140px !important;
    margin-top: 50px;
    z-index: 99999;

}

.container2 {
    margin: 70px;
    height: 30px;
   
    

}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-slide {
    display: none;
    float: left;
    height: 60%;
    min-height: 1px;
}

.slick-slide img {
    display: block;
}

.slick-initialized .slick-slide {
    display: block;
}

.copy {
    padding-top: 250px
}



@keyframes dd1 {
    50% {
      width: 95vw;
    }
  }
  @keyframes dd12 {
    50% {
      background-position: Calc(-40vw) 50%;
    }
  }
  @keyframes dd2 {
    50% {
      background-position: Calc(-50vw) 50%;
    }
  }
  @keyframes dd3 {
    50% {
      background-position: Calc(-75vw) 50%;
    }
  }
  @keyframes dd4 {
    50% {
      background-position: Calc(-110vw) 50%;
    }
  }


